* {

    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;


}



#top-bar {


    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
    border-bottom: 5px solid orange;
    font-size: 20px;
    margin-bottom: 60px;
    



}

h1 {

    font-size: 50px;

}

#header {

    margin: auto;
    max-width: 900px;
    height: 400px;
    border-bottom: 2px solid gray;
    margin-bottom: 30px;
    padding: 10px; /* Só para dar um espaçamento na borda caso a página seja diminuida por exemplo na largura e otexto fique colado na barra de rolagem */
    

}

#texto-do-header {

    margin-top: 40px;
    word-break: break-word;
    font-size: 20px;




}

#prof {

    margin-top: 20px;


}

#dataehora {

    margin-top: 15px;


}

.icones {

    margin-top: 15px;
    
    

}

#container {

    margin: auto;
    max-width: 700px;
    text-align: justify;

}

.links {

    text-decoration: none;
    color: #000000;



}


.posicionamentoimg {

    text-align: center;
    margin-bottom: 80px;

}

.imagens {

    margin-top: 40px;
    width: 600px;

}

.subtitulos {

    margin-bottom: 20px;

}

footer {

    margin-top: 100px;
    background-color: black;
    height: 80px;
    border-bottom: 5px solid orange;
}